<div class="row">
  <div class="col s12">
    <div class="card deep-orange lighten-4">
      <div class="card-content">
        <br>
        <p>{{answer.body}}</p>
        <br>
        <p>{{answer.author}} answered on {{answer.date}}</p>
        <div class="card-action">
          <div class="row">
            <div class="col s12">
              {{edit-answer
                answer=answer
                question=question
                editAnswer="editAnswer"
                deleteAnswer="deleteAnswer"}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
