<div class="page-header">
  <div class="center-align">
    <h1>Ember Q&A Board</h1>
  </div>
  <nav>
    <div class="nav-wrapper deep-orange lighten-2">
      <ul id="nav-mobile" class="left">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>
