<div class="row">
  <div class="col s6">
    <h2>Recent Questions:</h2>
    <ul>
      {{#each model.questions as |question|}}
      {{question-tile question=question}}
      {{/each}}
    </ul>
    {{add-question createQuestion="createQuestion"}}
  </div>

  <div class="col s6">
    <h3>Popular Posts:</h3>
  </div>
</div>
