<div class="row">
  <div class="col s6">
    <h2>Recent Questions:</h2>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
    <br>
    {{add-question createQuestion="createQuestion"}}
  </div>

  <div class="col s3 offset-s2">
    <h3>Popular Posts:</h3>
    {{popular-posts questions=model.questions}}
  </div>
</div>
